div.ui-accordion.selected a.head.selected            {
background-image:url( "./AccordionTabOpen.png" )!important;
color:#454545!important;
border:none!important
}

.ui-accordion a.head {
background-image:url( "./AccordionTabClosed.png" )!important;
background-color:#fff!important;
border:none!important;
font-size:11px!important;
color:#454545!important;
font-weight:400!important;
text-indent:30px!important;
height:30px!important;
line-height:30px!important
}

.ui-accordion .ui-accordion-panel a {
display:inline!important;
border:none!important
}

.ui-accordion {
border:none!important
}

.ui-tabs-panel {
border-top:1px solid #568eb8!important;
font-family:inherit!important;
padding:5px!important
}

.ui-tabs-nav a {
background-image:url( "./tab_top.png" )!important;
color:#fff!important;
font-size:11px!important;
font-weight:400!important;
line-height:22px!important
}

.ui-tabs-nav .ui-tabs-selected a {
font-family:inherit!important;
color:#fff!important
}

.ui-tabs-nav {
font-family:inherit!important
}

.ui-tabs-nav a span            {
background-image:url( "./tab_top.png" )!important;
font-family:inherit!important;
max-height:50px;
height:25px!important
}

.ui-tabs-nav a:hover span {
font-family:inherit!important;
background-position:0 -50px!important
}

.ui-tabs-nav a:hover {
font-family:inherit!important;
background-position:100% -150px!important;
color:#fff!important
}

div.TogglePaneFancyHeader {
font-family:inherit!important;
font-size:11px!important;
font-weight:400!important;
line-height:30px;
height:30px!important;
text-indent:30px;
cursor:pointer;
border:none!important;
background-color:transparent!important;
background-image:url( "./TogglePaneOpen.png" )!important;
background-position:0 0!important;
color:#454545!important;
border-width:0!important;
padding:0!important
}

div.TogglePaneFancyHeaderClosed {
background-color:transparent!important;
background-image:url( "./TogglePaneClosed.png" )!important;
background-position:0 0!important;
color:#454545!important
}

#footer {
float:left;
position:absolute;
left:0;
min-width:100%;
height:450px
}

#footerContent {
position:absolute;
left:50%;
min-width:960px;
margin-left:-480px
}

.nof_degreesBlueBanners1-Default {
font-family:Droid Serif ;
font-size:29px;
font-weight:400;
font-style:normal;
color:#000
}

BODY {
background-image:url( "./background.png" );
font-family:Open Sans Light ;
font-size:16px;
background-repeat:repeat-x
}

P {
font-size:1em;
line-height:1.75em
}

A {
color:#568eb8
}

A:visited {
color:#3e6685
}

A:active {
color:#4f4f4f
}

A:hover {
color:#78c5ff
}

.jcarousel-skin-nof .jcarousel-next-horizontal {
background:transparent url( "Images\\nof-carousel-nav-right-lt.png" ) no-repeat 95% 50%
}

.jcarousel-skin-nof .jcarousel-prev-horizontal {
background:transparent url( "Images\\nof-carousel-nav-left-lt.png" ) no-repeat 5% 50%
}

.jcarousel-skin-nof .jcarousel-next-vertical {
background:transparent url( "Images\\nof-carousel-nav-down-lt.png" ) no-repeat 50% 95%
}

.jcarousel-skin-nof .jcarousel-prev-vertical {
background:transparent url( "Images\\nof-carousel-nav-up-lt.png" ) no-repeat 50% 5%
}

.nof_degreesBlueNavbar4-Regular{
font-family:Open Sans Light ;
font-size:13px;
font-weight:400;
font-style:normal;
color:#fff
}

.nof_degreesBlueNavbar5-Rollover{
font-family:Open Sans Light ;
font-size:13px;
font-weight:400;
font-style:normal;
color:#fff
}

.nof_degreesBlueNavbar6-Highlighted{
font-family:Open Sans Light ;
font-size:13px;
font-weight:400;
font-style:normal;
color:#fff
}

.nof_degreesBlueNavbar7-HighlightedRollover{
font-family:Open Sans Light ;
font-size:13px;
font-weight:400;
font-style:normal;
color:#fff
}

.nof_degreesBlueNavbar9-Regular{
font-family:Open Sans Light ;
font-size:13px;
font-weight:400;
font-style:normal;
color:#fff
}

.nof_degreesBlueNavbar10-Rollover{
font-family:Open Sans Light ;
font-size:13px;
font-weight:400;
font-style:normal;
color:#fff
}

.nof_degreesBlueNavbar11-Highlighted{
font-family:Open Sans Light ;
font-size:13px;
font-weight:400;
font-style:normal;
color:#fff
}

.nof_degreesBlueNavbar12-HighlightedRollover {
font-family:Open Sans Light ;
font-size:13px;
font-weight:400;
font-style:normal;
color:#fff
}

H1{
font-family:Droid Serif ;
font-weight:400
}

H2{
font-family:Droid Serif ;
font-weight:400
}

H3{
font-family:Droid Serif ;
font-weight:400
}

H4{
font-family:Droid Serif ;
font-weight:400
}

H5{
font-family:Droid Serif ;
font-weight:400
}

H6 {
font-family:Droid Serif ;
font-weight:400
}

.jcarousel-skin-nof:hover .jcarousel-next-horizontal{
background-image:url( "Images\\nof-carousel-nav-right-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal:hover{
background-image:url( "Images\\nof-carousel-nav-right-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-horizontal:hover {
background-image:url( "Images\\nof-carousel-nav-right-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-horizontal:hover{
background-image:url( "Images\\nof-carousel-nav-left-lt.png" )
}

.jcarousel-skin-nof:hover .jcarousel-prev-horizontal{
background-image:url( "Images\\nof-carousel-nav-left-lt.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal:hover {
background-image:url( "Images\\nof-carousel-nav-left-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal:focus{
background-image:url( "Images\\nof-carousel-nav-right-dk.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal:active {
background-image:url( "Images\\nof-carousel-nav-right-dk.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal:focus{
background-image:url( "Images\\nof-carousel-nav-left-dk.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal:active {
background-image:url( "Images\\nof-carousel-nav-left-dk.png" )
}

.jcarousel-skin-nof:hover .jcarousel-next-vertical{
background-image:url( "Images\\nof-carousel-nav-down-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical:hover{
background-image:url( "Images\\nof-carousel-nav-down-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-vertical:hover {
background-image:url( "Images\\nof-carousel-nav-down-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-vertical:hover{
background-image:url( "Images\\nof-carousel-nav-up-lt.png" )
}

.jcarousel-skin-nof:hover .jcarousel-prev-vertical{
background-image:url( "Images\\nof-carousel-nav-up-lt.png" )
}

.jcarousel-skin-nof .jcarousel-prev-vertical:hover {
background-image:url( "Images\\nof-carousel-nav-up-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical:focus{
background-image:url( "Images\\nof-carousel-nav-down-dk.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical:active {
background-image:url( "Images\\nof-carousel-nav-down-dk.png" )
}

.jcarousel-skin-nof .jcarousel-prev-vertical:focus{
background-image:url( "Images\\nof-carousel-nav-up-dk.png" )
}
.jcarousel-skin-nof .jcarousel-prev-vertical:active {
background-image:url( "Images\\nof-carousel-nav-up-dk.png" )
}
.jcarousel-skin-nof .jcarousel-next-horizontal {
    background: transparent url( "./nof-carousel-nav-right-lt.png" ) no-repeat 95% 50%}

.jcarousel-skin-nof:hover .jcarousel-next-horizontal {
	background-image: url( "./nof-carousel-nav-right-lt.png" )
}
.jcarousel-skin-nof .jcarousel-next-horizontal:hover {
	background-image: url( "./nof-carousel-nav-right-lt.png" ) /* prev */
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-horizontal:hover {
	background-image: url( "./nof-carousel-nav-left-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal:focus {
    background-image: url( "./nof-carousel-nav-right-dk.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal:active {
    background-image: url( "./nof-carousel-nav-right-dk.png" )
}

/* Previous */
.jcarousel-skin-nof .jcarousel-prev-horizontal {
    background: transparent url( "./nof-carousel-nav-left-lt.png" ) no-repeat 5% 50%}

.jcarousel-skin-nof:hover .jcarousel-prev-horizontal {
	background-image: url( "./nof-carousel-nav-left-lt.png" )
}
.jcarousel-skin-nof .jcarousel-prev-horizontal:hover {
	background-image: url( "./nof-carousel-nav-left-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-horizontal:hover {
	background-image: url( "./nof-carousel-nav-right-lt.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal:focus {
    background-image: url( "./nof-carousel-nav-left-dk.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal:active {
    background-image: url( "./nof-carousel-nav-left-dk.png" )
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-nof .jcarousel-next-vertical {
    background: transparent url( "./nof-carousel-nav-down-lt.png" ) no-repeat 50% 95%}

.jcarousel-skin-nof:hover .jcarousel-next-vertical {
	background-image: url( "./nof-carousel-nav-down-lt.png" )
}
.jcarousel-skin-nof .jcarousel-next-vertical:hover {
	background-image: url( "./nof-carousel-nav-down-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-vertical:hover {
	background-image: url( "./nof-carousel-nav-up-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical:focus {
    background-image: url( "./nof-carousel-nav-down-dk.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical:active {
    background-image: url( "./nof-carousel-nav-down-dk.png" )
}

/* Previous */
.jcarousel-skin-nof .jcarousel-prev-vertical {
    background: transparent url( "./nof-carousel-nav-up-lt.png" ) no-repeat 50% 5%}

.jcarousel-skin-nof:hover .jcarousel-prev-vertical {
	background-image: url( "./nof-carousel-nav-up-lt.png" )
}
.jcarousel-skin-nof .jcarousel-prev-vertical:hover {
	background-image: url( "./nof-carousel-nav-up-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-vertical:hover {
	background-image: url( "./nof-carousel-nav-down-lt.png" )
}

.jcarousel-skin-nof .jcarousel-prev-vertical:focus {
    background-image: url( "./nof-carousel-nav-up-dk.png" )
}

.jcarousel-skin-nof .jcarousel-prev-vertical:active {
    background-image: url( "./nof-carousel-nav-up-dk.png" )
}
